<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card p-3 mt-5">
      <div class="card-header text-center">
        Coach's Answer
      </div>
      <div class="card p-1">
        <p>"<%= @question %>"</p>
        <p class="text-center font-italic">- You</p>
      </div>
      <div class="card p-1 mt-3">
        <p>"<%= @answer %>"</p>
        <p class="text-center font-italic">- Your coach</p>
      </div>
      <a class="text-center btn btn-primary" href="/ask">Ask another question</a>
    </div>
  </div>
</div>
